/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 sept. 2016, 14:40:42
    Author     : MEO
*/
#lot-list-content .form-input-list
{
    display: none;    
}

#lot-list-content .updated_list
{
    cursor: pointer;
}

#projects_select_list
{
    float: left;
}

#export_realestate_datas
{
    float: right;
}
#export_realestate_datas a .fa
{
    color: #fff;
    font-size: 18px;
    padding-top: 4px;
}

#list-form-realestate
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#list-form-realestate .icon-item
{
    flex: auto;
    width: 23%;
    max-width: 23%;
    margin: 0 1% 30px 1%;
    display: block;
    text-align: center;
}
#list-form-realestate .icon-item span
{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    padding: 30px 0;
    border: 1px solid #efefef;
    background-color: #efefef;
}
#list-form-realestate .icon-item .fa
{
    font-size: 35px;
    margin-bottom: 10px;
}
#meo-crm-realestate-list-title
{
    width: 60%;
    display: inline-block;
}
#meo-crm-realestate-add
{
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 20px 0 10px;
    padding-top: 10px;
    text-align: right;
    width: 20%;
}
#meo-crm-realestate-add a 
{
    display: inline-block
}
#meo-crm-realestate-add .clear-both
{
    clear: both;
}

form
{
    width: 100%;
}
.input-group
{
    width: 100%;
    margin-bottom: 20px;
}
.input-group label
{
    padding-bottom: 5px;
}
.input-group input,
.input-group label,
.input-group select,
.input-group textarea
{
    width: 100%;
}
.input-group input,
.input-group select,
.input-group textarea
{
    padding: 10px;
}
.group-btn-form
{
    width: 100%;
}

.row-group
{
    width: 100%;
    display: table-row;
}
.row-group .input-group
{
    width: 50%;
    display: table-cell;
}

#table_lot_floor
{
    width: 100%;
    border-top: 1px solid #000;
}

html body #floor-container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 0;
    border-top: 1px dashed #363636;
    border-bottom: 1px dashed #363636;
    margin-bottom: 25px;
}

html body #floor-container h2
{
	width: 100%;
	display: block;
	font-size: 20px;
	color: #afafaf;
	border-bottom: #afafaf;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
html body #floor-container div.btn-action-form-floor
{
	width: 100%;
	display: block;
}
html body #floor-container div.btn-action-form-floor button
{
	color: #fff;
	width: 100%;
	display: block;
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0;
	background-color: #d23636;
	margin-top: 20px;
}
html body #floor-container > section
{
    flex: auto;
}

html body #floor-container > section label
{
    display: block;
    width: 100%;
}
html body #floor-container > .content-form-lot-status
{
    display: block;
    width: 100%;
    padding: 25px 0;
}
html body #floor-container > .content-form-lot-status > .form-image-lot-status,
html body #floor-container > .content-form-lot-status > .form-image-lot-status label,
html body #floor-container > .content-form-lot-status > .form-image-lot-status input
{
    display: block;
    width: 100%;
}
html body #container-image-lot-status
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
html body #container-image-lot-status > .container-status-image
{
    flex: auto;
    width: 50%;
}
html body table#price_list_object tr
{
    border-bottom: 1px solid #efefef;
}
html body table#price_list_object tr td:nth-child(2n)
{
    padding: 10px 10px;
}
html body div.header_pdf_price_list_checkbox
{
    width: 50%;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #efefef;
}
html body div.header_pdf_price_list_checkbox:last-child
{
    border-bottom: none;
}
html body div.header_pdf_price_list_checkbox label
{
    display: inline-block;
    width: 15%;
}
html body div.header_pdf_price_list_checkbox input
{
    display: inline-block;
    width: 5%;
}
html body div.header_pdf_price_list_checkbox input.label_header
{
    display: inline-block;
    width: 35%;
    margin-right: 5px;
}
html body #sortable-floors tbody
{
    cursor: move;
}