/*
 * Theme Name: MEO Theme Immobilier Steiner
 * Description: Starter Theme to use with Timber
 * Author: MEO Design & Communication
*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
img {
  width: 100%;
  max-width: 100% !important;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*
    Created on  : 22 août 2016, 15:48:52
    Author      : MEO     
    Description : Media queries for responsive design
*/
/* tablette */
/* tablette portrait */
/* tablette landscale */
/* mobile portrait */
/* mobile portrait */
/* mobile landscale */
html,
html body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  text-shadow: none !important;
}
/* HEADER */
header.header {
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 50px;
  background-color: #aaa;
}
header.header .wrapper {
  display: flex;
  width: 70% !important;
  margin: 0 auto;
}
header.header .wrapper .hdr-logo {
  flex: 20%;
}
header.header .wrapper .nav-main {
  flex: 80%;
}
header.header .wrapper .nav-main ul {
  width: 100%;
  list-style: none;
}
header.header .wrapper .nav-main ul li {
  display: inline;
  list-style: none;
}
/* CONTENT */
#content,
.content-wrapper {
  width: 100% !important;
  max-width: 100% !important;
}
#content .wrapper {
  width: 70% !important;
  margin: 0 auto;
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px) {
  #content .wrapper {
    width: 80% !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 736px) {
  #content .wrapper {
    width: 90% !important;
  }
}
