/*
 * Theme Name: MEO Theme Immobilier Steiner
 * Description: Starter Theme to use with Timber
 * Author: MEO Design & Communication
*/
@import 'less/reset.less';
@import '../../plugins/meo-crm-core/less/media-queries-responsive.less';

html,
html body
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    text-shadow: none !important;
}

/* HEADER */
header.header
{
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 50px;
    background-color: #aaa;
}
    header.header .wrapper
    {
        display: flex;
        width: 70% !important;
        margin: 0 auto;
    }
        header.header .wrapper .hdr-logo
        {
            flex: 20%;
        }
        header.header .wrapper .nav-main
        {
            flex: 80%;
        }
            header.header .wrapper .nav-main ul
            {
                width: 100%;
                list-style: none;
            }
                header.header .wrapper .nav-main ul li
                {
                    display: inline;
                    list-style: none;
                }

/* CONTENT */
#content,
.content-wrapper
{
    width: 100% !important;
    max-width: 100% !important;
}
    #content .wrapper
    {
        width: 70% !important;
        margin: 0 auto;
        @media @tablets
        {
            width: 80% !important;
        } 
        @media @smartphones
        {
            width: 90% !important;
        }
    }