/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2016, 08:22:46
    Author     : MEO
*/
div#main-content {
  width: 100%;
}
div#primary {
  width: 100%;
}
div#primary main#main {
  width: 100%;
}
/**** TABLE CSS ****/
div#primary main#main table {
  width: 100%;
}
div#primary main#main table tr td,
div#primary main#main table tr th {
  padding: 10px 0;
}
