/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2016, 08:22:37
    Author     : MEO
*/
header {
  width: 100%;
}
header div.logo {
  display: inline-block;
  margin-right: 20px;
}
header nav.nav {
  display: inline-block;
}
header nav.nav div.menu {
  width: 100%;
}
header nav.nav div.menu ul {
  list-style: none;
}
header nav.nav div.menu ul li {
  display: inline-block;
  margin-right: 10px;
}
