/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 23 sept. 2016, 14:33:38
    Author     : MEO
*/
.nav {
  width: 100%;
}
.nav ul {
  width: 100%;
  margin: 0 auto;
}
.nav ul li {
  width: 20%;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}
.nav ul li ul {
  left: 0;
  top: 30px;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 300;
}
.nav ul li a {
  color: #ffffff;
  font-weight: bold;
}
.nav ul li:hover ul {
  display: block;
  background-color: #2f4354;
}
.nav ul li ul li {
  width: 100%;
  display: block;
}
