#meo_crm_access_management_table {
	background-color:#fff;
}
#meo_crm_access_management_table th {
	background-color: #000;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}
#meo_crm_access_management_table td {
	text-align:right;
}
#meo_crm_access_management_table td.mgmt_table_clientname {
	background-color: #000;
	color:#fff;
	font-weight:bold;
}
.access-validator-btn {
	background-color: #777;
	color:#fff;
	text-align:center;
	box-shadow:none;
}
