div#usersAvailabilityPageAdmin {width:800px;}
table#usersAvailabilityTable {width:100%;}
table#usersAvailabilityTable tr {}
table#usersAvailabilityTable tr th {background-color:#2f4354;color:#fff;padding-left: 10px !important;}
table#usersAvailabilityTable tr td {color:#777;padding-left:5px !important;}
table#usersAvailabilityTable tr td.users_availability-td-primary {background-color: #ebebeb;text-transform:capitalize;}
table#usersAvailabilityTable tr td.editable {}
table#usersAvailabilityTable tr td.availability {}
table#usersAvailabilityTable tr td.activity {}
