/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 avr. 2016, 13:13:26
    Author     : MEO
*/
.meo-crm-users-list h1
{
    margin: 0 0 15px 0;
}
.meo-crm-users-list table
{
    margin: 10px 0;
}
.meo-crm-users-list th.w30px
{
    width: 30px;
}
.meo-crm-users-list td.w30px
{
    width: 30px;
    padding-left: 18px;
}
.meo-crm-users-list .counter-list
{
    float: right;
}
.meo-crm-users-list .mr5px
{
    margin-right: 5px !important;
}
.clear-both
{
    clear: both;
}

/* Formulaire */
h1#add-broker
{
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    margin: 0;
    padding: 9px 15px 4px 0;
}
.meo-form-table th
{
    width: 0px !important;
}
.meo-form-table td
{
    width: 500px !important;
}

#matrix-user-project
{
    border: 1px solid #333;
    border-collapse: collapse;
}
#matrix-user-project tr td
{
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #333;
}