/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2016, 08:50:43
    Author     : MEO
*/
html,
html body
{
    width: 100%;
    height: 100%;
    font-family: @font;
    font-size: @font-size;
    background-color: @theme-color;
}
body .wrapper,
body .wrapper-content
{
    width: 85%;
    margin: 0 auto;
    min-width:1800px;
}
h1
{
    color: @grey;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.clear-both
{
    clear: both;
}