/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2016, 08:22:46
    Author     : MEO
*/
div#main-content
{
    width: 100%;
    background-color: @white;
    padding: 30px 0 50px 0;
}
div#primary
{
    width: 100%;
}
div#primary main#main
{
    width: 100%;
}

/**** TABLE CSS ****/
div#primary main#main table
{
    width: 100%;
}
    div#primary main#main table tr td,
    div#primary main#main table tr th
    {
        padding: 10px 0;
    }
        div#primary main#main table tr td a.action
        {
            display: inline-block;
            padding: 5px 10px;
            margin-right: 5px;
            border: 1px solid @extra-light-grey;
        }
        div#primary main#main table tr td a.action:last-child
        {
            margin-right: 0px
        }
/**** meo-table-action ****/
.meo-table-action{
    width: 35%;
}
.meo-table-action select
{
    width: 68%;
    float: left;
}
.meo-table-action button
{
    width: 30%;
    float: right;
}