/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2016, 08:22:52
    Author     : MEO
*/
footer.footer
{
    width: 100%;
    padding: 10px 0 5px 0;
    background-color: @footer-background;
    border-top: 1px solid @footer-border;
}
footer.footer p
{
    font-size: 12px;
    color: @white;
}