/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2016, 08:22:37
    Author     : MEO
*/
header.header
{
    width: 100%;
    background-color: @header-background;
    border-bottom: 1px solid @header-border;
    padding: 10px 0;
}
    header.header div.logo
    {
        display: inline-block;
        margin-right: 20px;
    }
    
    header.header div.connected-user {
      display:inline-block;
      float:right;
      width:200px;
      text-align: right;
    }
      header.header div.connected-user-identifier-text {
        color: #ffffff;
        float:left;
        width: 150px;
      }
      header.header div.connected-user-identifier-avatar {
        float:right;
        width:50px;
        font-size:50px;
        color: #ffffff;
        line-height: 50px;
      }
        header.header div.connected-user-identifier-avatar i {
          color: #ffffff;
        }
    
/******************************************************
 * Navigation 
 ******************************************************/
nav.nav
{
    background-color: #2f4354;
    width: 100%;
}
    nav.nav div.menu
    {
        width: 70%;        
        margin: 0 auto;
    }
        nav.nav div.menu ul
        {
            list-style: none;
        }
            nav.nav div.menu ul li
            {
                display: inline-block;
                padding: 15px 10px 10px 10px;
            }
            nav.nav div.menu ul li:first-child
            {
                padding-left: 0;
            }
            nav.nav div.menu ul li:last-child
            {
                padding-right: 0;
            }
                nav.nav div.menu ul li a
                {
                    color: @light-grey;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                nav.nav div.menu ul li a:hover
                {
                    color: @extra-light-grey;
                    text-decoration: none;
                }