/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2016, 12:03:29
    Author     : MEO
*/
#meo-toolbar
{
    width: 100%;
    padding: 10px 0;
}
    #meo-toolbar .meo-btn-toolbar
    {
        display: inline-block;
        border: 1px solid @extra-light-grey;
        padding: 5px 10px;
    }
    #meo-toolbar .meo-search-toolbar
    {
        float: right;
        width: 30%;
    }
        #meo-toolbar .meo-search-toolbar .input-group
        {
            float: left;
            width: 75%;
        }
        #meo-toolbar .meo-search-toolbar .btn 
        {
            float: right;
            width: 24%;
        }