/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2016, 08:19:08
    Author     : MEO
*/

/** Font Base Style **/
@font: 'Lato', sans-serif;
@font-size: 14px;

/** Color Base **/
@theme-color: #2f4354;
@white: #fff;
@grey: #858585;
@extra-dark-grey: darken(@grey, 20%);
@dark-grey: darken(@grey, 10%);
@light-grey: lighten(@grey, 10%);
@extra-light-grey: lighten(@grey, 20%);

/** Color Header **/
@header-background: @theme-color;
@header-border: darken(@theme-color, 20%);

/** Color Footer **/
@footer-background: @theme-color;
@footer-border: darken(@theme-color, 20%);
